.wrapper{
      width: 500px;
    margin: 0 auto;
}
.progress-bar{
      height: 20px;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}
span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}